img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    width: 30%;
    margin: 0 0 calc(10%/6) calc(10%/6);
    padding: 1em 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}